body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  background: linear-gradient(#020111,#191621);
  color: white;
  text-align: center;
  padding-top: 80px;
}

.button {
  padding: 12px 24px;
  background: #6c63ff;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.planetRow {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.planetCard {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 140px;
  cursor: pointer;
}

.planetImage {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.factBox {
  background: #333;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.gravityBox {
  background: #222;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

input {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}